:root {
  --theme-color: #404040;
  --icons-hover-color: #515151;
}

#root {
  width: 100%;
}

header {
  background-image: url("/CV/headerBg.png");
  padding: 20px 40px;
  margin-bottom: 10px;
  background-color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}

header h1 {
  font-size: 45px;
  animation: opacityGrowth 2s ease;
}
.profilePhoto {
  width: 150px;
  margin: 0 10px;
  transition: transform 1s;
  animation: opacityGrowth 2s ease;
}

.profilePhoto:hover {
  transform: scale(1.05, 1.05);
}

.content {
  text-align: justify;
  padding: 10px;
  margin-bottom: 100px;
}

.about {
  padding: 10px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.navBar,
.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  animation: opacityGrowth 2s ease;
}

.navBar li.nav-link,
.navBar li.nav-link.active {
  color: #2b93ff;
  font-weight: 400;
}

.navBar li.nav-link:hover {
  cursor: pointer;
}

.navBar li.nav-link.active {
  font-weight: 500;
}

.technologies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.technologies-item {
  text-align: center;
  margin: 15px;
}

.technologies-item img {
  width: 50px;
  transition: transform 0.5s;
}

.technologies-item img:hover {
  transform: scale(1.1, 1.1);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.icons-div {
  width: 80%;
  margin: 0 auto;
}

.icons-div i {
  margin: 0 20px;
  animation: opacityGrowth 2s ease;
}

.icons-div a {
  text-decoration: none;
  color: white;
  transition: 0.5s ease;
}

.icons-div a:hover {
  color: var(--icons-hover-color);
}

.inlineLink {
  color: inherit;
}

.inlineLink:hover {
  text-decoration: none;
}

@keyframes opacityGrowth {
  from {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
