.myContainer,
#root {
  width: 100%;
}
header {
  padding: 20px 40px;
  margin-bottom: 10px;

  /* background-color: #f09178; */
  background-color: #f08260;
  /* background-color: #cc4e4e; */
  /* background-color: #cc3e39; */
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header h1 {
  font-size: 45px;
  animation: opacityGrowth 2s ease;
}
.profilePhoto {
  width: 150px;
  margin: 0 10px;
  transition: transform 1s;
  animation: opacityGrowth 2s ease;
}

.profilePhoto:hover {
  transform: scale(1.05, 1.05);
}

.content {
  text-align: justify;
  padding: 10px;
  margin-bottom: 100px;
}

.navBar,
.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  animation: opacityGrowth 2s ease;
}

.navBar a:hover {
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.icons-div {
  width: 80%;
  margin: 0 auto;
}

.icons-div i {
  margin: 0 20px;
  animation: opacityGrowth 2s ease;
}

.icons-div a {
  text-decoration: none;
  color: white;
}

.icons-div a:hover {
  color: #f08260;
}

@keyframes opacityGrowth {
  from {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
